<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
  <div class="row">
    <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="https://coverfiles.alphacoders.com/115/11545.jpg" alt="Profile image example" />
      <img align="left" class="fb-image-profile thumbnail" src="Images/{{currentUser.imageName}}" alt="Profile image example" />
      <div class="fb-profile-text">
        <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
        <!--<a href="http://tinypic.com?ref=hx0jfn" target="_blank"><img src="http://i67.tinypic.com/hx0jfn.jpg" border="0" alt="Image and video hosting by TinyPic"></a>-->
      </div>
    </div>
  </div>
</div>

<mat-card class="your-events-card card-style">
  <mat-tab-group color="accent">
    <mat-tab label="INFO">
      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
          <div class="profile-data-table">
            <div class="profile-data-row">
              <mat-icon class="profile-data-icon" color="accent">account_circle</mat-icon>
              <div class="profile-data-col">Username: {{currentUser.userName}}</div>
            </div>
            <div class="separator-line"></div>
            <div class="profile-data-row">
              <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
              <div class="profile-data-col">Email: {{currentUser.email}}</div>
            </div>
            <div class="separator-line"></div>
            <div class="profile-data-row">
              <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
              <div class="profile-data-col">Id: {{currentUser.id}}</div>
            </div>
          </div>
          <button mat-mini-fab class="edit-button" color="accent" (click)="onEdit()">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
        </div>
      </div>
    </mat-tab>
    -------------------------------------------MY EVENTS----------------------------------------------------------
    <mat-tab label="MY EVENTS">
      <ng-template matTabLabel>
        <span matBadge={{getCreatedEventsCount(apiPosts)}} matBadgeOverlap="false">MY EVENTS </span>
      </ng-template>
      <div class="scrollable">
        <mat-card-content class="no-content" *ngIf="getCreatedEventsCount(apiPosts) === 0">
          Nothing to display :( 
        </mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="x.type === event && x.creatorId === currentUserId" class="hover-card">
            <mat-card class="extra-margin">
              <mat-card-header class="post-header pointer" color="primary" routerLink="/post-details/{{x.id}}">
                {{x.heading}}
              </mat-card-header>
              <mat-card-content *ngFor="let g of apiGroups">
                <mat-card-content *ngIf="x.groupId === g.id">
                  <div class="post-data-table">
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                      <div class="post-data-col">{{x.message}}</div>
                    </div>
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                      <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                    </div>
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                      <div class="post-data-col">{{x.location}}</div>
                    </div>
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">person</mat-icon>
                      <div class="post-data-col">Created by: {{x.creatorFirstName}} {{x.creatorLastName}}</div>
                    </div>
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                      <div class="post-data-col">{{g.name}}</div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <!---------------------------------------------MY ANNOUNCEMENTS------------------------------------------------------------>
    <mat-tab label="MY ANNOUNCEMENTS">
      <ng-template matTabLabel>
        <span matBadge={{getCreatedAnnouncementsCount(apiPosts)}} matBadgeOverlap="false">MY ANNOUNCEMENTS</span>
      </ng-template>
      <div class="scrollable-announcements">
        <mat-card-content class="no-content" *ngIf="getCreatedAnnouncementsCount(apiPosts) === 0">
          Nothing to display :(
        </mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="x.type === announcement && x.creatorId === currentUserId" class="hover-card">
            <mat-card class="extra-margin">
              <mat-card-header class="post-header">
                <div class="pointer announcement-header" routerLink="/post-details/{{x.id}}">
                  {{x.heading}}
                </div>
              </mat-card-header>
              <mat-card-content *ngFor="let g of apiGroups">
                <mat-card-content *ngIf="x.groupId === g.id">
                  <div class="post-data-table">
                    <div class="post-data-row"><mat-icon class="post-data-icon" color="accent">message</mat-icon><div class="post-data-col">{{x.message}}</div></div>
                    <div class="post-data-row"><mat-icon class="post-data-icon" color="accent">group</mat-icon><div class="post-data-col">{{g.name}}</div></div>
                    <div class="post-data-row">
                      <mat-icon class="post-data-icon" color="accent">person</mat-icon>
                      <div class="post-data-col">Created by: {{x.creatorFirstName}} {{x.creatorLastName}}</div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="menu_title">
        Groups
      </div>
      <div class="panel-body">
        <table>
          <tr *ngFor="let x of apiGroups">
            <td>{{x.name}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<!----------------------------------------EDIT PROFILE FORM----------------------------------------------------------->
<mat-card *ngIf="editEnabled">
  <form [formGroup]="editForm" (ngSubmit)="onEditProfileSubmit(editForm.value)" >

    <button mat-mini-fab class="back-button" color="accent" (click)="onEdit()">
      <mat-icon class="edit-icon" aria-label="">keyboard_backspace</mat-icon>
    </button>


    <div class="edit-form-card">
      <mat-form-field class="form-element">
        <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="currentUser.firstName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="currentUser.lastName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Username" formControlName="userName" [(ngModel)]="currentUser.userName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="currentUser.email">
      </mat-form-field>
      <div class="choose-file-div">
        <input name="file" id="file" class="inputfile" type="file" #file placeholder="Choose file" formControlName="imageName" (change)="getFileName()">
        <label for="file">Choose a file</label>
      </div>
    </div>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="save-button" (click)="uploadFile(file.files)">Save</button>
    </div>

  </form>
</mat-card>
<mat-label class="success" *ngIf="!editEnabled && profileUpdated">Profile has been updated successfully!</mat-label>
