<!--<mat-card class="your-profile-card card-style" *ngIf="currentUser">
  <mat-card *ngIf="!editEnabled">
    <ul class="list-group">
      <div class="profile-header">
        <mat-card-header>
          <mat-card-content mat-card-avatar class="example-header-image"><mat-icon>face</mat-icon></mat-card-content>
          <mat-card-title>
            <li class="list-group-item">{{currentUser.firstName}} {{currentUser.lastName}}</li>
          </mat-card-title>
        </mat-card-header>
      </div>
      <mat-card-content>
        <div class="profile-data-table">
          <div class="profile-data-row">
            <mat-icon class="profile-data-icon" color="accent">account_circle</mat-icon>
            <div class="profile-data-col">Username: {{currentUser.userName}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="profile-data-row">
            <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
            <div class="profile-data-col">Email: {{currentUser.email}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="profile-data-row">
            <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
            <div class="profile-data-col">Id: {{currentUser.id}}</div>
          </div>
        </div>
      </mat-card-content>
    </ul>
    <button mat-mini-fab class="edit-button" color="accent" (click)="onEdit()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </mat-card>

  --------------------------------------EDIT PROFILE FORM---------------------------------------------------------
  <form [formGroup]="editForm" (ngSubmit)="onEditProfileSubmit(editForm.value)" *ngIf="editEnabled">
    <mat-card>
      <button mat-mini-fab class="back-button" color="accent" (click)="onEdit()">
        <mat-icon class="edit-icon" aria-label="">keyboard_backspace</mat-icon>
      </button>
      <div class="edit-form-card">
        <mat-form-field class="form-element">
          <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="currentUser.firstName">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="currentUser.lastName">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Username" formControlName="userName" [(ngModel)]="currentUser.userName">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Email" formControlName="email" [(ngModel)]="currentUser.email">
        </mat-form-field>
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button">Save</button>
        </div>
      </div>
    </mat-card>
  </form>
  <mat-label class="success" *ngIf="!editEnabled && profileUpdated">Profile has been updated successfully!</mat-label>
</mat-card>-->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
  <div class="row">
    <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="https://coverfiles.alphacoders.com/115/11545.jpg" alt="Profile image example" />
      <img align="left" class="fb-image-profile thumbnail" src="http://i67.tinypic.com/hx0jfn.jpg" alt="Profile image example" />
      <div class="fb-profile-text">
        <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
        <!--<a href="http://tinypic.com?ref=hx0jfn" target="_blank"><img src="http://i67.tinypic.com/hx0jfn.jpg" border="0" alt="Image and video hosting by TinyPic"></a>-->
      </div>
    </div>
  </div>
</div> <!-- /container fluid-->
<div class="container">
  <div class="col-sm-8">
    <div data-spy="scroll" class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#tab_default_1" data-toggle="tab">
              Profile info
            </a>
          </li>
          <li>
            <a href="#tab_default_2" data-toggle="tab">
              My events
            </a>
          </li>
          <li>
            <a href="#tab_default_3" data-toggle="tab">
              My announcements
            </a>
          </li>
          <li>
            <a href="#tab_default_4" data-toggle="tab">
              Friends
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_default_1">
            <div class="profile-data-table">
              <div class="profile-data-row">
                <mat-icon class="profile-data-icon" color="accent">account_circle</mat-icon>
                <div class="profile-data-col">Username: {{currentUser.userName}}</div>
              </div>
              <div class="separator-line"></div>
              <div class="profile-data-row">
                <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
                <div class="profile-data-col">Email: {{currentUser.email}}</div>
              </div>
              <div class="separator-line"></div>
              <div class="profile-data-row">
                <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
                <div class="profile-data-col">Id: {{currentUser.id}}</div>
              </div>
            </div>
            <button mat-mini-fab class="edit-button" color="accent" (click)="onEdit()">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>


            <div class="tab-pane" id="tab_default_2">
              <!--EVENTS-->
            </div>
            <div class="tab-pane" id="tab_default_3">
              <!--ANNOUNCEMENTS-->
            </div>
            <div class="tab-pane" id="tab_default_4">
              <!--FRIENDS-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="menu_title">
        Groups
      </div>
      <div class="panel-body">
        <table>
          <tr *ngFor="let x of apiGroups">
            <td>{{x.name}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------EDIT PROFILE FORM----------------------------------------------------------->
<form [formGroup]="editForm" (ngSubmit)="onEditProfileSubmit(editForm.value)" *ngIf="editEnabled">
  <mat-card>
    <button mat-mini-fab class="back-button" color="accent" (click)="onEdit()">
      <mat-icon class="edit-icon" aria-label="">keyboard_backspace</mat-icon>
    </button>
    <div class="edit-form-card">
      <mat-form-field class="form-element">
        <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="currentUser.firstName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="currentUser.lastName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Username" formControlName="userName" [(ngModel)]="currentUser.userName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="currentUser.email">
      </mat-form-field>
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button">Save</button>
      </div>
    </div>
  </mat-card>
</form>
<mat-label class="success" *ngIf="!editEnabled && profileUpdated">Profile has been updated successfully!</mat-label>
