.your-profile-card {
  max-width: 100vw;
  min-width: 33%;
  float: left;
  margin: 18px;
  padding: 10px;
  width: 50%;
}

.profile-header {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: hsla(0, 0%, 96%, 0.75);
  border-radius: 4px;
  max-width: 95%;
  width: calc(100% - 70px);
  margin-right: 0;
  float: left;
}

.profile-data-table {
  height: 100%;
  width: 100%;
  padding: 0 10px 10px 10px;
}

.profile-data-row {
  white-space: normal;
  display: flex;
  align-items: center;
}

.profile-data-icon {
  margin: 0 6px 0 6px;
  display: inline-block;
}

.edit-button {
  margin: 0;
  display: inline-block;
}

.save-button {
  margin-top: 10px;
}

.edit-button:hover, .back-button:hover {
  background-color: #3f51b5;
}

.edit-icon {
  color: white;
}

.back-button {
  margin-right: 0;
  margin: 0 10px 0 20px;
  float: right;
  display: inline-block;
}

.separator-line {
  border-top: 1px solid #d9d9d9;
  margin: 5px 0 0 5px;
  width: calc(100% - 70px);
}

.edit-form-card {
  white-space: normal;
  display: flex;
  flex-direction: column;
}

.form-element {
  width: 90%;
}

:host /deep/ .mat-input-element, .mat-form-field-label, .mat-input-placeholder, .mat-form-field-placeholder, .input-placeholder {
  padding: 3px;
  margin: 3px;
}

:host /deep/ .mat-form-field {
  margin: 4px 2px 4px 2px;
  padding-bottom: 4px;
}

:host /deep/ .mat-form-field-label {
  padding: 8px;
}

/*wkdjnlks*/


body {
  font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg {
  z-index: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  max-height: calc(100vh / 2.5);
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -160px 10px 20px 20px;
  z-index: 9;
  width: 250px;
  height: 250px;
  
}

.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}

  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }

    .tabbable-line > .nav-tabs > li > a {
      border: 0;
      margin-right: 0;
      color: #737373;
    }

      .tabbable-line > .nav-tabs > li > a > i {
        color: #a6a6a6;
      }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
      border-bottom: 4px solid #fbcdcf;
    }

      .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333;
      }

        .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
          color: #a6a6a6;
        }

      .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px;
      }

    .tabbable-line > .nav-tabs > li.active {
      border-bottom: 4px solid #f3565d;
      position: relative;
    }

      .tabbable-line > .nav-tabs > li.active > a {
        border: 0 !important;
        color: #333333;
      }

        .tabbable-line > .nav-tabs > li.active > a > i {
          color: #404040;
        }

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}

  .tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
  }

  .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
  }

  .tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
  }

.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  margin: 0 5px;
}


@media (max-width:768px) {

  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
    vertical-align: baseline;
    align-self: baseline;
    height: 100%;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.choose-file-div {
  max-width: 20%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

  .inputfile + label {
    background-color: rgba(0,0,0,.12);
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.26);
    display: inline-block;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }

    .inputfile:focus + label,
    .inputfile + label:hover {
      background-color: #3F51B5;
      color: #fff
    }

  .inputfile + label {
    cursor: pointer; /* "hand" cursor */
  }

  .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

.profile-info-container {
  margin-left: 20px;
}

/*INFO, MY EVENTS & ANNOUNCEMENTS*/
.your-events-card {
  max-width: 100vw;
  min-height: 650px;
  height: 92vh;
  float: left;
  margin: 0 18px 18px 18px;
  width: 50%;
  padding: 0px;
}

.scrollable {
  overflow: auto;
  height: calc(82vh - 80px);
}

.scrollable-announcements {
  overflow: auto;
  height: calc(82vh - 36px);
}

.card-style {
  background-color: rgba(235, 235, 235, 0.92);
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
}

.your-posts-header {
  padding: 20px 16px 20px 16px;
}

:host /deep/ .mat-tab-label, .mat-tab-label-active, .mat-tab-labels, .mat-tab-label-container {
  max-width: 33%;
  min-width: 33%;
  padding: 0;
  opacity: 1;
}

:host /deep/ .mat-tab-header {
  position: page;
}

.post-data-table {
  height: 100%;
  width: 100%;
  padding: 0 10px 10px 10px;
}

.post-data-row {
  white-space: normal;
  display: flex;
  align-items: center;
}

.post-data-col {
  margin-left: 6px;
  display: inline-block;
}

.post-data-icon {
  margin: 0 6px 0 6px;
  display: inline-block;
}

.example-header-image {
  background-size: cover;
  padding: 4px 0px 0px 16px;
}

.post-header {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: hsla(0, 0%, 96%, 0.75);
  border-radius: inherit;
}

.announcement-header {
  width: calc(100% - 40px);
  margin-right: 0;
  display: inline-block;
}

.route-btn {
  width: auto;
  margin: 0 5px 0 5px;
}

.post-header:hover {
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.12);
  color: #3f51b5;
}

.no-content {
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  color: #3f51b5;
}

.extra-margin {
  margin: 10px;
  padding: 10px;
}

.post-data {
  margin: 10px;
}

.hover-card:hover > .extra-margin:hover {
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.row::after {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

:host /deep/ .mat-card-content {
  margin-bottom: 0;
}

.pointer:hover {
  cursor: pointer;
}

.header-icon {
  float: right;
  align-self: right;
}
