<mat-card class="your-groups-card card-style" *ngIf="userDetails">
  <ul class="list-group">
    <div class="profile-header">
      <mat-card-header>
        <mat-card-content mat-card-avatar class="example-header-image"><mat-icon>face</mat-icon></mat-card-content>
        <mat-card-title>
          <li class="list-group-item">{{userDetails.firstName}} {{userDetails.lastName}}</li>
        </mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content>
      <div class="profile-data-table">
        <div class="profile-data-row">
          <mat-icon class="profile-data-icon" color="accent">account_circle</mat-icon>
          <div class="profile-data-col">Username: {{userDetails.userName}}</div>
        </div>
        <div class="profile-data-row">
          <mat-icon class="profile-data-icon" color="accent">alternate_email</mat-icon>
          <div class="profile-data-col">Email: {{userDetails.email}}</div>
        </div>
      </div>
    </mat-card-content>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</mat-card>
