@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.nav-bar-width {
  width: 20%
}


:host /deep/ .col-sm-9 {
  min-width: 80%;
  padding: 0;
}

.top-nav-bar {
  border-bottom: 1px solid #444;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(68, 68, 68);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #222;
}
:host /deep/ .navbar{
  margin-bottom: 10px;
}
