<div class="organize-image">
  <img src="organize.jpg"/>
</div>
<div class="organize-text">
  <h1>Organize your business</h1>
  <p>Kyoto is here to help you</p>
  <a href="#" class="square_btn">Start organizing</a>
  <h1></h1>
</div>
<button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
<mat-card *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item">Username is {{userDetails.userName}}</li>
    <li class="list-group-item">First name is {{userDetails.firstName}}</li>
    <li class="list-group-item">Last name is {{userDetails.lastName}}</li>
    <li class="list-group-item">Email is {{userDetails.email}}</li>
  </ul>
</mat-card>
