<mat-card class="your-events-card card-style">
  <div class="your-posts-header">
    <mat-card-header>
      <mat-card-content mat-card-avatar class="example-header-image"><mat-icon matBadge="{{eventCounter}}" matBadgeColor="primary">event_note</mat-icon></mat-card-content>
      <mat-card-title>EVENTS</mat-card-title>
      <button mat-mini-fab class="add-button" color="accent" routerLink="/create-post">
        <mat-icon class="add-icon" aria-label="">add</mat-icon>
      </button>
    </mat-card-header>
  </div>
  <mat-card-subtitle>
    <mat-tab-group color="accent">
      <mat-tab label="GOING">
        <div class="scrollable">
          <div *ngFor="let x of apiPosts">
            <div *ngIf="x.type === event && x.responseStatus === 2" class="hover-card">
              <mat-card class="extra-margin">
                <mat-card-header class="post-header pointer" color="primary" routerLink="/post-details/{{x.id}}">
                  {{x.heading}}
                </mat-card-header>
                <mat-card-subtitle>
                  <mat-card-content *ngFor="let g of apiGroups">
                    <mat-card-content *ngIf="x.groupId === g.id">
                      <table class="post-subtitle">
                        <tr><mat-icon class="more-space" color="accent"> message</mat-icon>{{x.message}}</tr>
                        <tr><mat-icon class="more-space" color="accent">date_range</mat-icon>{{x.date | date: dateFormat}}</tr>
                        <tr><mat-icon class="more-space" color="accent"> location_on</mat-icon>{{x.location}}</tr>
                        <tr><mat-icon class="more-space" color="accent">group</mat-icon>{{g.name}}</tr>
                      </table>
                    </mat-card-content>
                  </mat-card-content>
                </mat-card-subtitle>
                <mat-card-content class="response-buttons-class" *ngIf="x; let currentPost">
                  <button mat-raised-button class="response-button" (click)="onResponseGoing(currentPost)" [color]="currentPost.responseStatus === 2 ? 'primary' : 'secondary'">Going</button>
                  <button mat-raised-button class="response-button" (click)="onResponseMaybe(currentPost)" [color]="currentPost.responseStatus === 3 ? 'primary' : 'secondary'">Maybe</button>
                  <button mat-raised-button class="response-button" (click)="onResponseCantGo(currentPost)" [color]="currentPost.responseStatus === 4 ? 'primary' : 'secondary'">Can't Go</button>
                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="PENDING">
        <div class="scrollable">
          <div *ngFor="let x of apiPosts">
            <div *ngIf="x.type === event && x.responseStatus === 1" class="hover-card">
              <mat-card class="extra-margin">
                <mat-card-header class="post-header" color="primary">
                  <!--<mat-card-content mat-card-avatar><mat-icon color="accent">fiber_manual_record</mat-icon></mat-card-content>-->
                  {{x.heading}}
                </mat-card-header>
                <mat-card-subtitle>
                  <mat-card-content *ngFor="let g of apiGroups">
                    <mat-card-content *ngIf="x.groupId === g.id">
                      <table class="post-subtitle">
                        <tr><mat-icon class="more-space" color="accent"> message</mat-icon>{{x.message}}</tr>
                        <tr><mat-icon class="more-space" color="accent">date_range</mat-icon>{{x.date | date: dateFormat}}</tr>
                        <tr><mat-icon class="more-space" color="accent"> location_on</mat-icon>{{x.location}}</tr>
                        <tr><mat-icon class="more-space" color="accent">group</mat-icon>{{g.name}}</tr>
                      </table>
                    </mat-card-content>
                  </mat-card-content>
                </mat-card-subtitle>
                <mat-card-content class="response-buttons-class" *ngIf="x; let currentPost">
                  <button mat-raised-button class="response-button" (click)="onResponseGoing(currentPost)" [color]="currentPost.responseStatus === 2 ? 'primary' : 'secondary'">Going</button>
                  <button mat-raised-button class="response-button" (click)="onResponseMaybe(currentPost)" [color]="currentPost.responseStatus === 3 ? 'primary' : 'secondary'">Maybe</button>
                  <button mat-raised-button class="response-button" (click)="onResponseCantGo(currentPost)" [color]="currentPost.responseStatus === 4 ? 'primary' : 'secondary'">Can't Go</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="ALL">
        <div class="scrollable">
          <div *ngFor="let x of apiPosts">
            <div *ngIf="x.type === event" class="hover-card">
              <mat-card class="extra-margin">
                <mat-card-header class="post-header" color="primary">
                  <!--<mat-card-content mat-card-avatar><mat-icon color="accent">fiber_manual_record</mat-icon></mat-card-content>-->
                  {{x.heading}}
                </mat-card-header>
                <mat-card-subtitle>
                  <mat-card-content *ngFor="let g of apiGroups">
                    <mat-card-content *ngIf="x.groupId === g.id">
                      <table class="post-subtitle">
                        <tr><mat-icon class="more-space" color="accent"> message</mat-icon>{{x.message}}</tr>
                        <tr><mat-icon class="more-space" color="accent">date_range</mat-icon>{{x.date | date: dateFormat}}</tr>
                        <tr><mat-icon class="more-space" color="accent"> location_on</mat-icon>{{x.location}}</tr>
                        <tr><mat-icon class="more-space" color="accent">group</mat-icon>{{g.name}}</tr>
                      </table>
                    </mat-card-content>
                  </mat-card-content>
                </mat-card-subtitle>
                <mat-card-content class="response-buttons-class" *ngIf="x; let currentPost">
                  <button mat-raised-button class="response-button" (click)="onResponseGoing(currentPost)" [color]="currentPost.responseStatus === 2 ? 'primary' : 'secondary'">Going</button>
                  <button mat-raised-button class="response-button" (click)="onResponseMaybe(currentPost)" [color]="currentPost.responseStatus === 3 ? 'primary' : 'secondary'">Maybe</button>
                  <button mat-raised-button class="response-button" (click)="onResponseCantGo(currentPost)" [color]="currentPost.responseStatus === 4 ? 'primary' : 'secondary'">Can't Go</button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
    <!--<mat-card-actions>
      <button mat-button>GOING</button>
      <button mat-button>PENDING</button>
      <button mat-button>ALL</button>
    </mat-card-actions>-->
  </mat-card-subtitle>
  <mat-card-content>
    <h3 class="see-more-link">
      <a mat-button routerLink="/view-posts">See more Events</a>
    </h3>
  </mat-card-content>
</mat-card>
<mat-card class="your-announcements-card card-style">
  <div class="your-posts-header">
    <mat-card-header>
      <mat-card-content mat-card-avatar class="example-header-image"><mat-icon matBadge="5" matBadgeColor="primary">announcement</mat-icon></mat-card-content>
      <mat-card-title>ANNOUNCEMENTS</mat-card-title>
      <button class="add-button" mat-mini-fab color="accent" routerLink="/create-post">
        <mat-icon class="add-icon" aria-label="">add</mat-icon>
      </button>
    </mat-card-header>
  </div>
  <mat-card-content>
    <div class="scrollable-announcements">
      <div *ngFor="let x of apiPosts">
        <div *ngIf="x.type === announcement" class="hover-card">
          <mat-card class="extra-margin">
            <mat-card-header class="post-header">
              <!--<mat-card-content mat-card-avatar><mat-icon color="accent">fiber_manual_record</mat-icon></mat-card-content>-->
              {{x.heading}}
            </mat-card-header>
            <mat-card-content *ngFor="let g of apiGroups">
              <mat-card-content *ngIf="x.groupId === g.id">
                <table>
                  <mat-card-subtitle class="post-subtitle">
                    <tr><mat-icon class="more-space" color="accent"> message</mat-icon>{{x.message}}</tr>
                    <tr><mat-icon class="more-space" color="accent">group</mat-icon>{{g.name}}</tr>
                  </mat-card-subtitle>
                </table>
              </mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <h3 class="see-more-link">
      <a mat-button routerLink="/view-posts">See more Announcements</a>
    </h3>
  </mat-card-content>
</mat-card>
