<mat-card class="your-post-card card-style">
  <mat-card *ngIf="!editEnabled">
    <div>
      <mat-card-header class="post-header pointer" color="primary" *ngIf="currentPost">
        {{currentPost.heading}}
      </mat-card-header>
      <button mat-mini-fab class="edit-button" color="accent" (click)="onEdit()">
        <mat-icon class="edit-icon" aria-label="">edit</mat-icon>
      </button>
    </div>
    <mat-card-content *ngFor="let g of apiGroups">
      <mat-card-content *ngIf="currentPost && currentPost.groupId === g.id && currentPost.type === 'Event'">
        <div class="post-data-table">
          <br />
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">message</mat-icon>
            <div class="post-data-col">{{currentPost.message}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
            <div class="post-data-col">{{currentPost.date | date: dateFormat}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
            <div class="post-data-col">{{currentPost.location}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">group</mat-icon>
            <div class="post-data-col">{{g.name}}</div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="currentPost && currentPost.groupId === g.id && currentPost.type === 'Announcement'">
        <div class="post-data-table">
          <br />
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">message</mat-icon>
            <div class="post-data-col">{{currentPost.message}}</div>
          </div>
          <div class="separator-line"></div>
          <div class="post-data-row">
            <mat-icon class="post-data-icon" color="accent">group</mat-icon>
            <div class="post-data-col">{{g.name}}</div>
          </div>
          <div *ngIf="currentPost.onDashboard === false">
            <div class="separator-line"></div>
            <div class="post-data-row">
              <button mat-icon-button class="add-dashboard-button" color="accent" (click)="onAddToDashboard(currentPost)">
                <mat-icon class="add-to-dashboard-icon">check_box_outline_blank</mat-icon>
              </button>
              <div class="post-data-col">Add Back to Dashboard</div>
            </div>
          </div>
          <!--<div *ngIf="currentPost.onDashboard === true">
            <div class="separator-line"></div>
            <div class="post-data-row">
              <button mat-icon-button class="add-dashboard-button" color="accent" (click)="onAddToDashboard(currentPost)">
                <mat-icon class="add-to-dashboard-icon">check_box_outline_blank</mat-icon>
              </button>
              <div class="post-data-col">Add Back to Dashboard</div>
            </div>
          </div>-->
        </div>
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="response-buttons-class" *ngIf="currentPost && currentPost.type === 'Event'">
      <button mat-raised-button class="response-button" (click)="onResponseGoing(currentPost)" [color]="currentPost.responseStatus === 2 ? 'primary' : 'secondary'">Going</button>
      <button mat-raised-button class="response-button" (click)="onResponseMaybe(currentPost)" [color]="currentPost.responseStatus === 3 ? 'primary' : 'secondary'">Maybe</button>
      <button mat-raised-button class="response-button" (click)="onResponseCantGo(currentPost)" [color]="currentPost.responseStatus === 4 ? 'primary' : 'secondary'">Can't Go</button>
    </mat-card-content>
  </mat-card>
  <!----------------------------------------EDIT FORM----------------------------------------------------------->
  <form [formGroup]="editForm" (ngSubmit)="onEditSubmit(editForm.value)" *ngIf="editEnabled">
    <mat-card *ngIf="currentPost.type === 'Event'">
      <button mat-mini-fab class="back-button" color="accent" (click)="onEdit()">
        <mat-icon class="edit-icon" aria-label="">keyboard_backspace</mat-icon>
      </button>
      <div class="edit-form-card">
        <mat-form-field class="form-element">
          <input matInput placeholder="Post Heading" formControlName="heading" [(ngModel)]="currentPost.heading">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Message" formControlName="message" [(ngModel)]="currentPost.message">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label>Event Date and Time</mat-label>
          <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder={{formattedDate}} formControlName="date">
          <owl-date-time #dt1 [startAt]="currentPost.date"></owl-date-time>
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Location" formControlName="location" [(ngModel)]="currentPost.location">
        </mat-form-field>
        <mat-form-field class="small-form-element select-option">
          <mat-label>Belongs to Group</mat-label>
          <mat-select formControlName="groupId" [(ngModel)]="currentPost.groupId">
            <mat-option *ngFor="let group of apiGroups" [value]="group.id">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button">Save</button>
        </div>
      </div>
    </mat-card>
    <mat-card *ngIf="currentPost.type === 'Announcement'">
      <button mat-mini-fab class="back-button" color="accent" (click)="onEdit()">
        <mat-icon class="edit-icon" aria-label="">keyboard_backspace</mat-icon>
      </button>
      <div class="edit-form-card">
        <mat-form-field class="form-element">
          <input matInput placeholder="Post Heading" formControlName="heading" [(ngModel)]="currentPost.heading">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Message" formControlName="message" [(ngModel)]="currentPost.message">
        </mat-form-field>
        <mat-form-field class="small-form-element select-option">
          <mat-label>Belongs to Group</mat-label>
          <mat-select formControlName="groupId" [(ngModel)]="currentPost.groupId">
            <mat-option *ngFor="let group of apiGroups" [value]="group.id">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button">Save</button>
        </div>
      </div>
    </mat-card>
  </form>
  <mat-label class="success" *ngIf="!editEnabled && postUpdated">The Post has been Successfully Updated!</mat-label>

</mat-card>
