<div class='main-nav'>


  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>Kyoto</a>
    </div>


    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/dash-board"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th'></span> DashBoard
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/add-group"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-plus-sign'></span> Create group
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/create-post"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-pencil'></span> Create post
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/view-groups"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> View groups
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/view-posts"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-list-alt'></span> View posts
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/find-friends"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-globe'></span> Find friends
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


