<<mat-card class="homepage-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><mat-icon>group</mat-icon></div>
    <mat-card-title>YOUR GROUPS</mat-card-title>
    <button mat-mini-fab>
      <mat-icon aria-label="">add</mat-icon>
    </button>
    <mat-card-subtitle>Group tree upside down with clickable rows</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Your group label buttons coming soon.
    </p>
    <h3 class="see-more-link">
      <a mat-button routerLink=".">See more Groups</a>
    </h3>
  </mat-card-content>
</mat-card>
