<mat-card class="your-groups-card card-style">
  <div class="your-groups-header">
    <mat-card-header>
      <mat-card-content mat-card-avatar class="example-header-image"><mat-icon>group</mat-icon></mat-card-content>
      <mat-card-title>YOUR GROUPS</mat-card-title>
      <button mat-mini-fab class="add-button" color="accent" routerLink="/add-group">
        <mat-icon class="add-icon" aria-label="">add</mat-icon>
      </button>
    </mat-card-header>
  </div>
  <!--<div *ngFor="let x of groups" class="hover-card">-->
  <div class="scrollable-groups">
    <div *ngFor="let x of apiGroups" class="hover-card pointer" routerLink="/group-details/{{x.id}}">
      <mat-card class="extra-margin">
        <mat-card-header class="group-header">
          <div mat-card-avatar><mat-icon color="accent">group</mat-icon></div>
          {{x.name}}
        </mat-card-header>
        <mat-card-subtitle class="group-subtitle">
          {{x.description}}
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <mat-card-content>
    <h3 class="see-more-link">
      <a mat-button routerLink="/view-groups">See more Groups</a>
    </h3>
  </mat-card-content>

</mat-card>


