.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 80%;
  max-width: 100%;
  width: 100%;
}

.form-element {
  width: 90%;
}

.small-form-element {
  padding: 5px 0px 25px 2px;
  width: 40%;
}

.button {
  width: 90%;
}

.create-post-card {
  width: 50%;
  margin: 30px;
  display: inline-block;
  float: left;
  padding: 0 0 16px 0;
}

.create-post-container {
  width: 100%;
  padding: 14px;
}

.card-style {
  background-color: rgba(235, 235, 235, 0.92);
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
}

/*:host /deep/ .mat-vertical-stepper {
  background-color: rgba(235, 235, 235, 0.92);
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
}

:host /deep/ .mat-stepper-horizontal {
  background-color: rgba(235, 235, 235, 0.92);
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
}*/
:host /deep/ .mat-stepper-horizontal, .mat-stepper-vertical{
   background-color: rgba(235, 235, 235, 0.92) !important;

}
:host /deep/ .mat-step-header:hover {
  background-color: rgba(235, 235, 235, 0.92) !important;
}

.toolbar-style {
  border-radius: inherit;
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.select-option {
  width: 43%;
  margin-right: 1% !important;
}

:host /deep/ .mat-form-field-flex {
  background-color: white;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  min-height: 60px;
}
:host /deep/ .mat-form-field-underline, .mat-form-field-wrapper, .mat-form-field-flex{
  max-width: 100%;
  width: 100%;
}

:host /deep/ .mat-input-element, .mat-form-field-label, .mat-input-placeholder, .mat-form-field-placeholder, .input-placeholder {
  padding: 3px;
  margin: 3px;
}

:host /deep/ .mat-form-field {
  margin: 4px 2px 4px 2px;
  padding-bottom: 4px;
}

:host /deep/ .mat-form-field-label {
  padding: 8px;
}

:host /deep/ .mat-form-field-wrapper {
  padding-bottom: 17.5px;
}

:host /deep/ .mat-select {
  padding: 16px 8px 16px 8px;
}
:host /deep/ .mat-form-field-suffix{
  margin: 10px 14px 24px 14px;
}

