<div style="display: flex;">
  <img src="/Images/gradient icon.png" class="log-in-img" style="height: 200px; width: 200px;" />
</div>

<form #form="ngForm" (submit)="onSubmit(form)">
  <div class="form-group">
    <mat-form-field class="form-element">
      <input matInput placeholder="Username" name="Username" #UserName="ngModel" [(ngModel)]="formModel.UserName" required>
      <mat-error>
        This field is mandatory!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput type="password" placeholder="Password" name="Password" #Password="ngModel" [(ngModel)]="formModel.Password" required>
      <mat-error>
        This field is mandatory!
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" class="login-button" [disabled]="form.invalid">Login</button>
    <mat-error *ngIf="errorBoolean">
      {{errorMessage}}
    </mat-error>
  </div>
</form>
