<div class="view-card">
  <h1><b class="page-header">View posts</b></h1>

  <div class="add-padding">
    <!-- Search form -->
    <form class="form-inline md-form form-sm active-pink active-pink-2">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
             mdbInput>
      <button class="button mat-raised-button mat-accent" style="margin-left: 10px">
        Search
      </button>
    </form>

    <br />
    <br />


    <form class="filter-box-form">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="post-header">
              Choose groups
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr *ngFor="let x of apiGroups">
              <td><mat-checkbox class="post-data-icon">{{x.name}}</mat-checkbox></td>
            </tr>
          </table>
          <button mat-button>Filter</button>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
</div>

<br />
<br />
<br />

<div class="big-card">
  <div class="view-card">
    <div class="date-header"><b>Today, {{today}}</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date) === today  && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>



  <div class="view-card">

    <div class="date-header"><b>Tomorrow, {{tomorrow}}</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date) === tomorrow && getDateFormat(x.date) >= today && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="view-card">

    <div class="date-header"><b>{{day3}}, {{in2Days}}</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date)=== in2Days && getDateFormat(x.date) >= today && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="view-card">

    <div class="date-header"><b>{{day4}}, {{in3Days}}</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date) === in3Days && getDateFormat(x.date) >= today && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>

              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="view-card">
    <div class="date-header"><b>{{day5}}, {{in4Days}}</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date) === in4Days && getDateFormat(x.date) >= today && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="view-card">
    <div class="date-header"><b>Future activities</b></div>

    <mat-card class="your-events-card card-style">
      <div _ngcontent-c3="" class="your-posts-header">
        <mat-card-header _ngcontent-c3="" class="mat-card-header">
          <mat-card-title class="comp-header">
            <mat-icon _ngcontent-c10="" class="mat-icon notranslate
          mat-badge material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                      matbadgecolor="accent" role="img" aria-hidden="true" ng-reflect-color="primary"
                      ng-reflect-content="0">event_note</mat-icon> <label class="card-header">EVENTS</label>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div *ngFor="let x of apiPosts">
          <div *ngIf="getDateFormat(x.date) > in4Days  && x.type === event">
            <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="post-header">{{x.date | date: dateFormat}}</mat-panel-title>
                <mat-panel-description class="post-header">{{x.heading}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="post-data-table" *ngFor="let g of apiGroups">
                <div *ngIf="x.groupId === g.id">
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                    <div class="post-data-col">{{x.message}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">date_range</mat-icon>
                    <div class="post-data-col">{{x.date | date: dateFormat}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">location_on</mat-icon>
                    <div class="post-data-col">{{x.location}}</div>
                  </div>
                  <div class="post-data-row">
                    <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                    <div class="post-data-col">{{g.name}}</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<mat-card class="your-announcements-card card-style">
  <mat-card class="your-events-card card-style">
    <div _ngcontent-c3="" class="your-posts-header">
      <mat-card-header _ngcontent-c3="" class="mat-card-header">
        <mat-card-title class="comp-header">
          <mat-icon _ngcontent-c10="" class="mat-icon notranslate mat-badge material-icons
                     mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                    matbadge="5" matbadgecolor="primary" role="img" aria-hidden="true"
                    ng-reflect-color="primary" ng-reflect-content="5">
            announcement
          </mat-icon> <label class="card-header">ANNOUNCEMENTS</label>
        </mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content>
      <div *ngFor="let x of apiPosts">
        <div *ngIf="x.type === announcement">
          <mat-expansion-panel class="extra-margin" (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="post-header">{{x.heading}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="post-data-table" *ngFor="let g of apiGroups">
              <div *ngIf="x.groupId === g.id">
                <div class="post-data-row">
                  <mat-icon class="post-data-icon" color="accent">message</mat-icon>
                  <div class="post-data-col">{{x.message}}</div>
                </div>
                <div class="post-data-row">
                  <mat-icon class="post-data-icon" color="accent">group</mat-icon>
                  <div class="post-data-col">{{g.name}}</div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
