<h1><b>View posts</b></h1>

<form class="example-form">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="post-header">
          Choose groups
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td><mat-checkbox class="more-space">TalTech</mat-checkbox></td>
          <td><mat-checkbox class="more-space">Infotehnoloogia teaduskond</mat-checkbox></td>
          <td><mat-checkbox class="more-space">Äriinfotehnoloogia</mat-checkbox></td>
        </tr>
        <tr>
          <td><mat-checkbox class="more-space">IABB42</mat-checkbox></td>
          <td><mat-checkbox class="more-space">BEST</mat-checkbox></td>
        </tr>
      </table>
      <button mat-button>Filter</button>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<br/>
<br/>

<h5><b>Today, {{today}}</b></h5>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="post-header">
        10:00
      </mat-panel-title>
      <mat-panel-description class="post-header">
        Võti tulevikku 4.-6.märts!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr><mat-icon class="more-space">group</mat-icon>TalTech</tr>
      <tr><mat-icon class="more-space">alarm</mat-icon>10:00</tr>
      <tr><mat-icon class="more-space">date_range</mat-icon>04.03.2019 - 06.03.2019</tr>
      <tr><mat-icon class="more-space"> location_on</mat-icon>TalTech</tr>
      <tr><mat-icon class="more-space"> message</mat-icon>Taaskord on TalTechi hoonetes toimumas mess, kus on
        kohal palju ettev6tteid, kellega tutvust teha.</tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>

<!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
