.filter-box-form {
  width: 30%;
}

.search-button {
  margin-left: 15px;
  background-color: #ff4081;
  border-radius: 3px;
  color: white;
}

.post-data-table {
  height: 100%;
  width: calc(100% - 60px);
  float: left;
}

.post-data-row {
  white-space: normal;
  display: flex;
  align-items: center;
}

.post-data-col {
  margin-left: 6px;
  display: inline-block;
}

.post-data-icon {
  margin: 0 6px 0 6px;
  display: inline-block;
}

.extra-margin {
  margin: 10px;
  padding: 10px;
}

.add-padding {
  padding: 10px;
}

.page-header {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 10px;
}

.date-header {
  font-size: 15px;
  color: black;
  text-align: left;
  line-break: auto;
  padding: 10px;
}

.comp-header {
  font-size: 14px;
  color: black;
  text-align: left;
  margin-right: 10px;
}

.card-header {
  max-width: 100%;
  margin-bottom: 5px;
  vertical-align: super;
  color: #222;
  margin-left: 5px;
}

.post-header {
  font-size: 18px;
  color: #222;
  text-align: center;
  margin-right: 10px;
}

.your-posts-header {
  padding: 20px 16px 20px 16px;
}

.view-card {
  min-height: 20px;
  float: left;
  margin-top: 2px;
  width: 100%;
  padding: 0px;
}

.big-card {
  min-height: 20px;
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  width: 50%;
  padding: 0px;
}
/*your post css*/

.card-style {
  background-color: rgba(235, 235, 235, 0.92);
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.14), 0 3px 3px 0 rgba(0,0,0,.12);
}

.your-events-card {
  max-width: 100vw;
  min-height: 10px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding: 0px;
}

.your-announcements-card {
  max-width: 100vw;
  min-height: 10px;
  float: left;
  margin: 15px;
  margin-top: 63px;
  width: 35%;
  padding: 0px;
}


:host /deep/ .mat-button:hover {
  background-color: #ff4081;
  color: white;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  /*border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #3F51B5;
  border: #3F51B5*/
}

:host /deep/ .mat-expansion-panel {
  border-radius: 3px;
}

:host /deep/ .mat-card-title {
  color: #9d9d9d;
}

:host /deep/ .mat-card-title {
  color: #9d9d9d;
}

:host /deep/ .mat-expansion-indicator::after {
  border-color: #ff4081;
}

:host /deep/ .mat-icon {
  color: #ff4081
}

.add-dashboard-button {
  
  float: right;
  right: 15%;
  bottom: calc(50% - 24px);
  display: inline-block; 
  align-content: center;
  align-self: center;
  height: 24px;
  width: 24px;
}

:host /deep/ .mat-stroked-button {
  min-width: 26px;
  min-height: 26px;
}

.add-to-dashboard-icon {
  margin-bottom: 10px;
}

.edit-button {
  margin: 0;
  display: inline-block;
}

.edit-icon {
  color: white;
}

.add-dashboard-tooltip {
  background: #ff4081;
  font-size: 15px;
  color: white;
}

:host /deep/ .matTooltipClass {
  background: #ff4081;
  font-size: 15px;
  color: white;
}

:host /deep/ .mat-stroked-button {
  max-width: 26px;
  max-height: 26px;
  padding: 0;
}
